@font-face {
    font-family: QlassikBold;
    src: url(QlassikBold_TB.otf);
}

body{
    font-family: QlassikBold;
}

h1.menu{
    font-size: 48pt;
    padding: 0px 0px 10px 300px;
    margin: 50px 20px 40px 20px;
    border-bottom: solid 4px #bbeeff;
}
h2.menu{
    margin: 20px auto 0px 20px;
}

h3{
    font-size: 14pt;
    margin: 14px 0px 3px 0px;
}

h2.bank{
    margin: 19px 0px 0px 0px;
}

fieldset{
    font-size: 14pt;
    border: none;
    /*border-bottom: solid #bbeeff 1px;*/
    margin: 10px;
}

.right{
    float: right;
    padding: 0px 6px 0px 0px;
}

.left{
    float: left;
    position:relative;
    left:0px;
}

.clear{
    clear:both;
}

.interests{
    text-align: right;
}
#menuSubmit{
    margin: 0px auto 10px 260px;
}

#container {
  width: 986px;
  margin: 0px auto 50px auto;
  /*padding: 15px;*/
  background-color: #FFFFFF;
    border: 1px solid #000000;
    position: relative;
  /*top: -254px;*/
  /*border: none;*/
}

#canvas{
    background-image: linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(218,245,255)),
    	color-stop(1, rgb(187,238,255))
    );
}

.mapView {
    /*width: 700px;
    border-style:solid;
    border-width:1px;*/
    border-right: solid 1px #000000;
}
/*
.bankView, .infoView {
    width: 256px;
    border-style:solid;
    border-width:1px;
    padding: 0 5px;
}*/

/* interest-info*/
#interestInfo{
    display: none;
}

.infoBox{
    width: 256px;
    padding: 0px 0px 15px 0px;
    border-bottom: lightgray solid 1px;
}

.infoBox.last{
    padding: 0px 0px 0px 0px;
    border-bottom: none;
}

/* AI-info*/
#infoAI{
    list-style-type: none;
    padding: 0px 0px 0px 10px;
    overflow: auto;
    height: 150px;
}

#infoAI > li{
    padding: 2px 0px 2px 0px;
}

/*Message Box */
#darkbg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;

	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#message_box, #calculation_box {
	width: 300px;
	height: 150px;
	background: #fff;

	border: 4px solid #f0f0f0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -150px;

	text-align: center;
	z-index: 1000;
	display: none;
}
#message_box input[type=button], #calculation_box input[type=button] {
	float: right;
	margin-right: 10px;
}

#calculation_box{
    height: 320px;
    top: 800px;
}
#calculation_box .body{
    text-align: left;
    margin: 0px 20px;
}

#calculation_box .right{
    float: right;
}

#calculation_box .center{
    text-align: center;
}

/* End Message Box */

#actionContainer{
    color: #dcdcdc;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 16px 0px;

}
#actionContainer > li{
    padding: 2px 2px 2px 2px;
}

.activeAction{
    color: #000000;
    background-color: #bbeeff;
    border: #000000 solid 1px;

}

#incidentView{
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    background-color: #fffacd;
    padding: 4px 2px 4px 2px;
    margin: 5px;
    width: 682px;
    border: solid 2px #000000;
    cursor: pointer;
    text-align: center;


}