@font-face {
    font-family: QlassikBold;
    src: url(QlassikBold_TB.otf);
}

body{
    font-family: QlassikBold;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clear{
    clear:both;
}

#container {
  width: 986px;
  margin: 0px auto 50px auto;
  /*padding: 15px;*/
  background-color: #FFFFFF;
    border: 1px solid lightgray;
    position: relative;
  /*top: -254px;*/
  /*border: none;*/
}

#canvas{
    background-image: linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(218,245,255) 0%, rgb(187,238,255) 100%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(218,245,255)),
    	color-stop(1, rgb(187,238,255))
    );
}

.mapView {
    width: 700px;
    border-style:solid;
    border-width:1px;
}

.bankView, .infoView {
    width: 270px;
    border-style:solid;
    border-width:1px;
    padding: 0 5px;
}

/* interest-info*/
#interestInfo{
    display: none;
}

/* AI-info*/
#infoAI{
    list-style-type: none;
    overflow: auto;
    height: 150px;
}


/*Message Box */
#darkbg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;

	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#message_box {
	width: 300px;
	height: 150px;
	background: #fff;

	border: 4px solid #f0f0f0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -150px;

	text-align: center;
	z-index: 1000;
	display: none;
}
#message_box input[type=button] {
	float: right;
	margin-right: 10px;
}
/* End Message Box */

#actionContainer{
    color: #dcdcdc;

}
#actionContainer > li{
    padding: 2px 2px 2px 2px;
}

.activeAction{
    color: #000000;
    background-color: #bbeeff;
    border: #000000 solid 1px;

}